 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming Languages</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain colored"></i>
        <br>
         <i class="devicon-cplusplus-line-wordmark colored"></i>
      <p>Java, Python, C++
      </p>
    </div>
    <div class="tech">
        
      <h2>Industry <br>Knowledge</h2>
       <i class="devicon-mysql-plain-wordmark colored"></i>
       <i class="devicon-github-plain-wordmark colored"></i>
        <br>
       <i class="devicon-linux-plain colored"></i>
      <p>MySQL, Algorithms, Github, Linux, Data Structure, OOPs</p>
    </div>
    <div class="tech">
      <h2>Tools & Technologies</h2>
       <i class="devicon-android-plain colored"></i>
       <i class="devicon-git-plain colored"></i>
       <i class="devicon-vim-plain colored"></i>
      <p>Android Studio, Vim, Git, MATLAB</p>
    </div>
</div>
