<div class="user-details">
  <h1> Featured Projects </h1>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="SecureLogin" src="{{ "/assets/img/new/p0.png" }}" />
  </div>
  <div class="contents">
    <h3>  SecureLogin </h3>
    <ul>
      <li> Android Studio, JavaScript, HTML, CSS</li>
    </ul>
    <p>SecureLogin an Two factor Authentication Login Android application. Here we use app as an mobiletoken for user where user user can register our user name with Password and Password image using Image stagnography. we login in the Web Browser using our username, and password and paaswordImage is entered in the Mobile app.</p>
    <a class="project-link" href="https://github.com/Spider34/SecureLogin">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Duplicacy Finder & Remover" src="{{ "/assets/img/new/p2.png" }}" />
  </div>
  <div class="contents-right">
    <h3> Duplicacy Finder & Remover</h3>
    <ul>
      <li> Python3, JSON, Checksum (md5)</li>
    </ul>
    <p>There might be two different names of same file. So it is generally difficult to locate both as we can’t say if two files are similar just by looking at the content. So we use the concept of checksums of files to check the similarity. If the files are found to be similar we add the data of file into a json file in form a map with key as checksum value and values as locations of duplicacy.</p>
    <a class="project-link" href="https://github.com/Spider34/dfr">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="EasyOutPass" src="{{ "/assets/img/new/p1.png"}}" />
     
  </div>
  <div class="contents">
    <h3>  EasyOutPass </h3>
    <ul>
      <li> Android Studio, MySQL, Bluetooth </li>
    </ul>
    <p>Android App for Get entry of Students through Bluetooth adapter. Here every student have own Identity card with enbuild microchip which have stored details about student like Roll No, Name, Branch, Hostel Name etc. We store the entry using scan the card through Bluetooth adapter with In time and Out time.</p>
    <a class="project-link" href="https://github.com/Spider34/EasyOutPass">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="AntiRagging" src="{{ "/assets/img/new/p5.png"}}" />
  </div>
  <div class="contents-right">
    <h3> AntiRagging </h3>
    <ul>
      <li> Android Studio, GPS, SMS </li>
    </ul>
    <p>It is a Security Android Applications.This App for send location with the text message to the contacts for help in emergency time. I fetched instantaneous location and send this location with the recorded SMS to saved contacts.</p>
    <a class="project-link" href="https://github.com/Spider34/AntiRagging">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="FileCrypt" src="{{ "/assets/img/new/p6.png"}}" />
     
  </div>
  <div class="contents">
    <h3>  FileCrypt </h3>
    <ul>
      <li> Android Studio, Security </li>
    </ul>
    <p>FileCrypt is an Android app for storing confidential documents with a master password.Here we save the user password i n the app through encrypted format so another user can't access the password. Here we also add a good functional App intro for introuduce the app functionality to new user.</p>
    <a class="project-link" href="https://github.com/Spider34/FileCrypt">Check it out</a>
  </div>
<br>
<br>
<br>
<div class="user-details" name="end">
  <h1> Resume </h1>
  <p align="center"> 
      <a class="project-link"  href="/assets/img/new/rakesh_kumar_cv.pdf" download="rakesh_kumar_resume">Download</a>
     </p>
</div>
    
</div>

